<div class="container main-background">
  <h1>{{ 'account.inscription' | translate }}</h1><br>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="identifiant">{{ 'account.id' | translate }}</label>
      <input type="text" class="form-control" id="identifiant" formControlName="identifiant"
             placeholder="{{ 'account.id-label' | translate }}"
             [ngClass]="{ 'is-invalid': submitted && getFormField().identifiant.errors }">
      <div *ngIf="submitted && getFormField().identifiant.errors" class="invalid-feedback">
        <div *ngIf="getFormField().identifiant.errors.required">{{ 'error.register.id' | translate }}</div>
      </div>
    </div>
    <div class="form-group">
      <label for="motDePasse">{{ 'account.password' | translate }}</label>
      <input type="password" class="form-control" id="motDePasse" formControlName="motDePasse"
             [ngClass]="{ 'is-invalid': submitted && getFormField().motDePasse.errors }"
             placeholder="{{ 'account.password-label' | translate }}">
      <div *ngIf="submitted && getFormField().motDePasse.errors" class="invalid-feedback">
        <div *ngIf="getFormField().motDePasse.errors.required">{{ 'error.register.password' | translate }}</div>
        <div
          *ngIf="getFormField().motDePasse.errors.minlength">{{ 'error.register.password-minlength' | translate }}</div>
      </div>
    </div>
    <div class="form-group">
      <label for="confirmerMotDePasse">{{ 'account.password-conf' | translate }}</label>
      <input type="password" class="form-control" id="confirmerMotDePasse" formControlName="confirmerMotDePasse"
             [ngClass]="{ 'is-invalid': submitted && getFormField().confirmerMotDePasse.errors }"
             placeholder="{{ 'account.password-conf-label' | translate }}">
      <div *ngIf="submitted && getFormField().confirmerMotDePasse.errors" class="invalid-feedback">
        <div
          *ngIf="getFormField().confirmerMotDePasse.errors.required">{{ 'error.register.confPassword' | translate }}</div>
        <div
          *ngIf="getFormField().confirmerMotDePasse.errors.mustMatch">{{ 'error.register.passwordMustMatch' | translate }}</div>
        <div
          *ngIf="getFormField().confirmerMotDePasse.errors.minlength">{{ 'error.register.password-minlength' | translate }}</div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">
      {{ 'account.inscrire' | translate }}
    </button>
  </form>
</div>
