<div class="container main-background">
  <h1>{{ 'account.inscription' | translate }}</h1><br>
  <div class="form-group">
    <label for="pseudo">{{ 'account.id' | translate }}</label>
    <input type="pseudo" class="form-control" id="pseudo" [(ngModel)]="utilisateur.identifiant"
           placeholder="{{ 'account.id-label' | translate }}">
  </div>
  <div class="form-group">
    <label for="password">{{ 'account.password' | translate }}</label>
    <input type="password" class="form-control" id="password" [(ngModel)]="utilisateur.motDePasse"
           placeholder="{{ 'account.password-label' | translate }}">
  </div>
  <div class="form-group">
    <label for="confPassword">{{ 'account.password-conf' | translate }}</label>
    <input type="password" class="form-control" id="confPassword"
           placeholder="{{ 'account.password-conf-label' | translate }}">
  </div>
  <button (click)="lancerInscription()" class="btn btn-primary">{{ 'account.inscrire' | translate }}</button>
</div>
