<div class="container main-background">
  <div class="row">
    <div class="col-sm-10">
      <h1>{{ utilisateurCourant.identifiant }}</h1>
    </div>
    <div class="col-sm-2">
      <img src="../../assets/icons/edit.png" style="width: 30px; margin-top: 10px;" (click)="goToEdit()"/>
    </div>
  </div>
  <div class="row" *ngIf="utilisateurCourant.discord">
    <h4><span
      class="badge badge-discord">{{ 'profil.discord' | translate : {'0': utilisateurCourant.discord} }}</span>
    </h4>
  </div>
  <div class="row" *ngIf="utilisateurCourant.codeAmiNintendo">
    <h4><span
      class="badge badge-danger">{{ 'profil.codeami' | translate : {'0': utilisateurCourant.codeAmiNintendo} }}</span>
    </h4>
  </div>
  <br/><br/>
  <ng-container *ngIf="listeEspeceCapture.length > 0">
    <h2>{{ 'profil.bebetopedie' | translate }}</h2><br/>
    <ng-container *ngFor="let esp of listeEspeceCapture">
      <img class="bebetopedie" [src]="getPhotoUrl(esp)"/>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="listeEspeceCapture.length === 0">
    <h2>{{ 'profil.bebetopedie.aucun' | translate }}</h2>
  </ng-container>
</div>
