<div class="row format-top">
  <h2>{{ 'espece.titre' | translate : {'0': listeEspece.length, '1': typeEspece} }}</h2>
</div>
<div class="row format-top">
  <button type="button"
          [ngClass]="this.hemisphereSelectione === Hemisphere.NORD ? 'btn btn-primary filter' : 'btn btn-outline-primary filter'"
          (click)="this.changeHemisphere(Hemisphere.NORD)">{{ 'espece.filter.nord' | translate }}</button>
  <button type="button"
          [ngClass]="this.hemisphereSelectione === Hemisphere.SUD ? 'btn btn-primary filter' : 'btn btn-outline-primary filter'"
          (click)="this.changeHemisphere(Hemisphere.SUD)">{{ 'espece.filter.sud' | translate }}</button>
  <button type="button"
          [ngClass]="this.listeEspeceSansFiltre.length === 0 ? 'btn btn-outline-primary filter' : 'btn btn-primary filter'"
          (click)="this.filtrerSurLesEspCapture()">
    <img style="max-width: 25px;" src="../../../assets/icons/fish.png"/>
  </button>
</div>
<div class="row format-top">
  <ng-container *ngFor="let esp of listeEspece">
    <div class="col-sm-4">
      <div class="card format-top">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-10">
              <h5 class="card-title">{{ esp.nom }}</h5>
            </div>
            <div class="col-sm-2">
              <img class="icon-manage"
                   [src]="this.listeEspeceCapture.includes(esp.id) ? '../../../assets/icons/delete.png' : '../../../assets/icons/add.png'"
                   (click)="captureEspece(esp)"/>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <img class="icon-esp" [src]="getPhotoUrl(esp)">
            </div>
            <div class="col-sm-8">
              <p class="card-container">{{ esp.labelPeriode }}<br>
                {{ getHeureLabel(esp) }}<br>
                {{ 'espece.lieu' | translate : {'0': esp.lieu.lieu} }}<br>
                {{ 'espece.prix' | translate : {'0': esp.prix} }}<br></p>
            </div>
          </div>
          <span class="badge badge-pill" [ngClass]="getRareteCouleur(esp.rarete)">{{ esp.rarete.rarete }}</span>
        </div>
      </div>
    </div>
  </ng-container>
</div>
